# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfplan
*.tfvars
*.tfvars.json
override.tf
override.tf.json

# Jenkins Local Data
jenkins_home/
*.log

# Docker / Environment
.env
.env.local
.env.*.local

# OS Files
.DS_Store
Thumbs.db
